<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/common/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/chat/chatPage.css}" type="text/css">
    <title> 1:1 채팅 페이지 </title>
</head>
<body>
    <div th:replace="~{/common/header :: headerFragment}"></div>
    <hr>
    <div id = "container">
        <div class = "returnBtn">
            <label> 채팅 목록으로 돌아가기</label>
            <button th:onclick="back()"> ◀ </button>
         </div><br>
         <form class = "chat">
             <div class = "chatMessage">

             </div>
             <hr>
            <div class = "inputMessage">
                <input type="text" placeholder="보낼 메시지">
                <button type="button">전송</button>
            </div>
         </form>
    </div>
    <div th:replace="~{/common/footer :: footerFragment}"></div>
</body>

<script th:src="@{/static/js/adapter.js}"></script>
 <script src="../../static/js/chat/chat.js"></script>
</html>