<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/common/aside.css">
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <link rel="stylesheet" href="../../static/css/common/sideMenu.css">
    <link rel="stylesheet" href="../../static/css/chat/chat.css">
    <title> 나의 채팅 </title>
</head>
<body>
    <header data-include="../common/header.html"></header>
    <hr>
   <div id = "container">
    <aside data-include="../common/sideMenu.html"></aside>
    <div>
        <h2> 나의 채팅 </h2>
        <form class="chatList">
            <!-- 타임리프 th:each 로 바꾸기  -->
            <div>
                <p><h2> 채팅 상대 아이디 </h2></p>
                 <a href="../chat/chatPage.html"> <p> > </p> </a> 
                 <p> 마지막 채팅 아이디 </p>
            </div>
            <br>
            <div>
                <p><h2> 채팅 상대 아이디 </h2></p>
                 <a href="../chat/chatPage.html"> <p> > </p> </a> 
                 <p> 마지막 채팅 아이디 </p>
            </div>
            <br>
        </form>
    </div>
   

    <aside id="infoSide" data-include="../common/infoSide.html"></aside>
   </div>
    <footer data-include="../common/footer.html"></footer>
</body>
<script src = "../../static/js/adapter.js"></script>
<script src="../../static/js/chat/chat.js"></script>
</html>