<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/common/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/aside.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/sideMenu.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/chat/chat.css}" type="text/css">
    <title> 나의 채팅 </title>
</head>
<body>
    <div th:replace="~{/common/header :: headerFragment}"></div>
    <hr>
   <div id = "container">
        <div th:replace="~{/common/sideMenu :: sidebarFragment}"></div>
        <div>
            <h2> 나의 채팅 </h2>
            <form class="chatList">
                <!-- 타임리프 th:each 로 바꾸기  -->
                <div class = "chatListForm" th:each="chat:${chat}">
                    <!--상대 아이디, 마지막 채팅 아이디 받아오는 법 찾아보기 -->
                    <p><h2> 채팅 상대 아이디 </h2></p>
                    <!-- 채팅룸 id 번호로 연결되는지, 받는 변수명 맞는지 확인 <a th:href="|'@{/chat/chatPage(chatRoomId=${chatRoom.chatRoomId})}'|">-->
                    <a th:href="@{/chat/chatPage}"> <span> > </span> </a>
                    <p> 마지막 채팅 아이디 </p>
                </div>
                <br>
                <div>
                    <p><h2> 채팅 상대 아이디 </h2></p>
                    <a th:href="@{/chat/chatPage}"> <span> > </span> </a>
                    <p> 마지막 채팅 아이디 </p>
                </div>
                <br>
            </form>
        </div>
        <div class = "aside">
            <div th:replace="~{/common/infoSide :: sidebarFragment}"></div>
        </div>
   </div>
   <div th:replace="~{/common/footer :: footerFragment}"></div>
</body>
<script th:src="@{/static/js/adapter.js}"></script>
<!-- <script src="../../static/js/chat/chat.js"></script> -->
</html>