<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/common/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/nav.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/aside.css}" type="text/css">
    <style>
        #main-div {
            display: flex;
            padding-right: 100px; /* sidebarFragment의 너비에 따라 조절해야 합니다. */
        }

        #sidebarFragment {
            position: fixed;
            right: 0;
            width: 250px;  /* 필요에 따라 조절하세요. */
            height: 100%;  /* 높이를 전체 화면으로 설정합니다. */
        }
        /*#main-aside-login {*/
        /*    position: fixed;*/
        /*}*/
    </style>
    <script th:src="@{/static/js/adapter.js}"></script>
    <title>Document</title>
</head>
<body>
<div th:replace="~{/common/header :: headerFragment}"></div>
<div th:replace="~{/common/nav :: navFragment}"></div>
<div id="main-div">
    <div th:replace="~{/common/main :: mainFragment}"></div>
    <div th:replace="~{/common/main-aside :: sidebarFragment}"></div>
</div>
<div th:replace="~{/common/footer :: footerFragment}"></div>
</body>
</html>
