<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/nav.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/common/aside.css">

    <style>
        #main-div{
            display: flex;
        }
        #main-aside-login{
            position: fixed;
        }

    </style>
    <script src="../../static/js/adapter.js" defer></script>
    <title>Document</title>
</head>
<body>
    <header data-include="../common/header.html"></header>
    <nav data-include="../common/nav.html"></nav>
    <div id="main-div">
        <main data-include="../common/main.html"></main>
        <aside data-include="../common/main-aside.html"></aside>
    </div>
    
    <footer data-include="../common/footer.html"></footer>
</body>
</html>