<div id="main-aside-login">
    <div id="main-aside-bg">
        <div id="main-aside-content">
            <br>
            <p><img src="../../static/img/login.jpg" alt="chef-img"></p>
            <p> 사용자 아이디 </p>
            <div id="main-aside-text-bar">
                <p><a href="../chef/myList.html"> 내 글 </a></p>
                <p> | </p>
                <p><a href="../chef/myPage.html">마이페이지</a></p>
                <p> | </p>
                <p><a href="#">로그아웃</a></p>
            </div>
        </div>
    </div>
</div> 
