<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
    <div id="main-aside-html">
<div class="main-aside-login">
    <div class="main-aside-bg">
        <div class="main-aside-content">
            <button type="button" id="login-button" onclick="window.location.href = '/login'">로그인</button>

            <div class="main-aside-text-bar">
                <p><a th:href="@{/common/register.html}">아이디 찾기</a></p>
                <p> | </p>
                <p><a th:href="@{/common/register.html}">비밀번호 찾기</a></p>
                <p> | </p>
                <p><a href="chef/register">회원가입</a></p>
            </div>
        </div>
    </div>
</div>
</div>

</th:block>