<!--<div id="main-aside-login">
    <div id="main-aside-bg">
        <div id="main-aside-content">
            <button>로그인</button>
        <div id="main-aside-text-bar">
            <p><a href="#">아이디 찾기</a></p>
            <p> | </p>
            <p><a href="#">비밀번호 찾기</a></p>
            <p> | </p>
            <p><a href="#">회원가입</a></p>
            </div>
        </div>
    </div>
</div>-->

<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="sidebarFragment">
<div id="main-aside-login">
    <div id="main-aside-bg">
        <div id="main-aside-content">
            <button>로그인</button>
            <div id="main-aside-text-bar">
                <p><a href="#">아이디 찾기</a></p>
                <p> | </p>
                <p><a href="#">비밀번호 찾기</a></p>
                <p> | </p>
                <p><a href="#">회원가입</a></p>
            </div>
        </div>
    </div>
</div>
</th:block>