<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="mainFragment">
    <div id="main-container">
        <div id="main-sort-container">
            <select name="" id="main-sort">
                <option value="last">최신 순</option>
                <option value="scrap">스크랩 순</option>
            </select>
        </div>
        <div id="main-items-container">
        <div class="main-item-container">
            <div class="main-item-img">
                <img src="/static/img/login.png" alt="">
            </div>
            <div class="main-item-text">
                <div class="heart">
                    <i class="heartcheck fa fa-heart" aria-hidden="true"></i>
                </div>
                <div class="main-item-title" >
                    <p>레시피 제목</p>
                </div>
                <div class="main-item-category" >
                    <p>카테고리</p>
                </div>
                <div class="main-item-recipe" >
                    <p>내용</p>
                </div>
                <div class="main-item-chef">
                    <p>작성자</p>
                </div>
            </div>
        </div>
        </div>
    </div>

</th:block>