#container {
    margin-left: 11rem;
    display: flex;
    text-align: center;
    padding: 20px;
    align-items: center;
}

#container .infoEdit {
    margin-left: 10rem;
    width: 650px;
}


.info {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: space-around;
}

.info img {
    width: 90px;
    height: 90px;
}

.chefImg { 
    margin-left: 2rem;
    margin-right: 1rem;
    margin-bottom : 5rem;
}

.info .box {
    display: grid;
    justify-items: stretch;
}

.chefInfo {
    display: flex;
    justify-content: flex-start;
}

.chefInfo label {
    margin-left: 1rem;
    margin-right: 4rem;
}

input {
    width: 350px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

textarea {
    width: 350px;
    height: 150px;
    margin-right: 1rem;
    resize: none;
}

.editBtn {
    text-align: right;
    margin-right: 1rem;
    margin-top: 1rem;
}

.editBtn button {
    width: 5rem;
    height: 2rem;
    border: 0;
}
