 #container {
    display: flex;
    justify-content: space-evenly;
    text-align:center;
    padding: 20px;
}

h2 {
    text-align: left;
}

.receipeList table img {
    width: 90px;
    height: 90px;
}

.receipeList table td {
    padding: 0.5rem;
    width: 750px;
    background-color: #ddf7df;
}

.receipeList table #foodImg{
    width: 90px;
}

.receipeList table #writer{
    text-align: right;
}

aside {
    float: right;
    margin-right: 5rem;
}