#container {
    /*margin-left: 4rem;*/
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between; 
    text-align:center;
    align-items: flex-start;
    padding: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20rem;
}

.info #chefName {
    width: 20rem;
    height: 1.5rem;
    margin-left: 1rem;
}

.idInfo {
    display: grid;
    justify-content: start;
}

.chefId label {
    margin-left : 1rem;
}

img{
    width: 90px;
    height: 90px;
}

.infoSide {
    margin-right: 5rem;
}

.chefId {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.chefInfo{
   display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    padding: 0.5rem;
    width: 650px;
    background-color: #ddf7df;
    margin-top:-4rem;
    margin-left: 15rem;
    margin-bottom: 2rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu div {
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

 #menuButtonMyList,
 #menuButtonLikeRecipe,
 #menuButtonChat,
 #menuButtonInfoEdit {
    background-color:#79AC78;
    color : #FFFFFF;
    border: 0;
    width: 600px;
    height: 70px;
    cursor: pointer;
}

 textarea {
     width: 20rem;
     height: 5rem;
     margin-left: 2rem;
     resize: none;
 }

 #buttonContainer {
     display: grid;
     margin-top: 1rem;
 }