
  
  .signup-container {
    margin: 3rem auto;
    padding: 1.25rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 30rem;
    text-align: center;
    margin-bottom: 0 auto;
    justify-items: center;
  }


  .form-text-button{
    display: flex;
  }

  .form-text-button button{
    width: 15%;
    height: 2.4rem;
    margin: auto 1rem;
    padding: 0;
  }

  .form-text-button p{
    padding: 0;
    margin: 0;
    
  }
  
 #register-form-id label {
    display: block;
    font-weight: bold;
    margin-top: 0.625rem;
  }
  
  #register-form-id input {
    width: 70%;
    padding: 0.625rem;
    margin-top: 0.3125rem;
    margin-bottom: 0.3125rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }
  
  .error {
    outline: none;
    border: 1px solid red;
  }
  
  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
    display: none;
  }
  
  button {
    border: none;
    border-radius: 0.25rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
  }
  
  .form-group {
    text-align: left;
    margin-bottom: 0.9375rem;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3125rem;
  }