.receipe-form-container {
    margin: 3rem 9rem;
    padding: 1.25rem;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 45rem;
    text-align: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙으로 수평 정렬 */
}

#receipe-form {
    margin: 2rem 8rem 2rem 2rem;
    gap: 1rem;
    width: 100%; /* 폼의 너비를 최대로 설정 */
    max-width: 600px; /* 폼의 최대 너비 설정. 필요한 경우 값을 조정하세요 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.receipe-form-material-unit{
    width: 5rem;
}

.receipe-form-sequence-img{
    width: 5rem;
}
.receipe-form-media-img{
    width: 5rem;
}

#receipe-form label {
    width: 10rem;
    text-align: right;
    margin-right: 2rem;
}

#receipe-form input,
#receipe-form select,
#receipe-form textarea {
    flex-grow: 1;
    resize: none;
}

#receipe-form textarea {
    height: 6rem;
    text-align: left; /* 텍스트 에리어의 내용은 일반적으로 왼쪽 정렬되어 있습니다. */
}

#receipe-form select, #receipe-form input {
    text-align: center;
    height: 2rem;
}


.form-container-items button {
    width: 3.5rem;
    height: 1.8rem;

}

.form-container-items {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; /* 항목들을 중앙에 정렬 */
    gap: 1rem;
    width: 100%;
}


.receipe-form-button {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: 5rem;
}

.receipe-form-button button {
    width: 5rem;
    height: 2.5rem;

}

.receipe-form-media{
    width: 5rem;
    height: 5rem;
}

.sequence-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
    text-align: center;
    border-radius: 10px;
    border: 5px solid transparent;
}

.modal-contents{
    display: flex;
    flex-flow: column;
    width: auto;
    height: 80%;
    gap: 2.5rem;
}

#sequence-modal-content{
    height: 40%;
    resize: none;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.modal-buttons button{
    width: 5rem;
    height: 2.5rem;
}





