<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/common/sideMenu.css">
    <link rel="stylesheet" href="../../static/css/chef/likeReceipe.css">
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <title> 찜한 레시피 </title>
</head>
<body>
    <header data-include="../common/header.html"></header>
    <hr>
   <div id = "container">
    <aside data-include="../common/sideMenu.html"></aside>
    <form class="receipeList">
        <table>
            <tr>
                <h2>찜한 레시피</h2>
            </tr>
            <tr>
                <td id = "foodImg" rowspan="2">  <img src="../../static/img/login.jpg" alt="chef-img"> </td>
                <td id = "title"> 
                    <div>
                        제목
                    </div> <br><br>
                    <div id = "writer">
                        작성자
                    </div>
                 </td>
            </tr>
        </table>
        <table>
            <tr>
                <td id = "foodImg" rowspan="2">  <img src="../../static/img/login.jpg"  alt="chef-img"> </td>
                <td id = "title"> 
                    <div>
                        제목
                    </div> <br><br>
                    <div id = "writer">
                        작성자
                    </div>
                 </td>
            </tr>
        </table>
        <table>
            <tr>
                <td id = "foodImg" rowspan="2">  <img src="../../static/img/login.jpg"  alt="chef-img"> </td>
                <td id = "title"> 
                    <div>
                        제목
                    </div> <br><br>
                    <div id = "writer">
                        작성자
                    </div>
                 </td>
            </tr>
        </table>
    </form>
   </div>
   <footer data-include="../common/footer.html"></footer>
</body>
<script src = "../../static/js/adapter.js"></script>
<script src="../../static/js/chef/likeReceipe.js"></script>
</html>