<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/common/style.css}">
    <link rel="stylesheet" th:href="@{/static/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/common/nav.css}">
    <link rel="stylesheet" th:href="@{/static/css/chef/login.css}">
    <link rel="stylesheet" th:href="@{/static/css/common/footer.css}">
    <title>Document</title>
</head>

<body>
<div th:replace="~{/common/header :: headerFragment}"></div>
<div th:replace="~{/common/nav :: navFragment}"></div>
<main class="login-container">
    <div class="form-text">
        <h2>로그인</h2>
        <div id="login-form-id">
            <div id="login-form">
                <div id="login-form-text">
                    <label></label>
                    <input type="text" name="chefName" id="login-userName" placeholder="아이디를 입력하세요.." required>
                    <label></label>
                    <input type="password" name="password" id="login-Password" placeholder="비밀번호를 입력하세요.." required>
                </div>
                <button type="button" id="login-button" onclick="dataSend()">로그인</button>
            </div>
    </div>
    </div>
    <div class="reg">
        <p><a th:href="@{/findId}">아이디 찾기</a></p>
        <p> | </p>
        <p><a th:href="@{/findPassword}">비밀번호 찾기</a></p>
        <p> | </p>
        <p><a th:href="@{/register}">회원가입</a></p>
    </div>
    <script th:src="@{/static/js/chef/loginfun.js}" type="text/javascript" defer></script>
</main>
<div th:replace="~{/common/footer :: footerFragment}"></div>
</body>
</html>
