<!DOCTYPE html>
    <html lang="ko" xmlns:th="http://www.thymeleaf.org">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" th:href="@{/static/css/common/header.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/static/css/common/footer.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/static/css/common/style.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/static/css/common/aside.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/static/css/common/sideMenu.css}" type="text/css">
            <link rel="stylesheet" th:href="@{/static/css/chef/myList.css}" type="text/css">
    <title> 내가 작성한 레시피 </title>
</head>
<body>
    <div th:replace="~{/common/header :: headerFragment}"></div>
    <hr>
   <div id = "container">
        <div class = "leftMain">
            <div id = "title">
                <h2> 내가 작성한 레시피 </h2>
            </div>
            <div class="myReceipe">
                <span class="receipeBox" th:each="receipe : ${myReceipes}">
                    <div>
                        <p><img th:src="@{/static/img/login.jpg}" alt="receipe-img"  id = "receipeImg"></p>
                    </div>
                    <div>
                        <!-- 레시피 제목을 클릭했을 때 해당 레시피로 이동 -->
                        <a th:href="@{|/receipe/details/${receipe.id}|}" th:text="${receipe.title}"></a>
                        <p th:text="${receipe.summary}">간략한 글 내용</p>
                        <!-- 작성자 이름을 클릭했을 때 작성자 정보 페이지로 이동 -->
                        <a th:href="@{|/chef/profilePage/${receipe.writer}|}" th:text="${receipe.writer}"></a>
                    </div>
                </span>
            </div>
            <input type="hidden" id="chefName" >
            <div class = "rightMain">
              <div th:replace="~{/common/infoSide :: sidebarFragment}"></div>
                <div class = "btn">
                    <button id="writeButton" th:onclick="|location.href='@{|/receipe/receipe-form/${receipeId}|}'|"> 글쓰기 </button>
                    <!--http://localhost:8080/receipe/receipe-form/null 발생-->
                    <button th:onclick="|location.href='@{/chat/chat}'|"> 채팅 목록 </button>
                  </div>
             </div>
        </div>
   </div>
   <div th:replace="~{/common/footer :: footerFragment}"></div>
   <script th:src="@{/static/js/common/itemshow.js}" type="text/javascript"></script>
</body>
<script th:src="@{/static/js/adapter.js}"></script>
<script th:src="@{/static/js/chef/myList.js}"></script>
</html>