<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/common/header.css">
    <link rel="stylesheet" href="../../static/css/common/footer.css">
    <link rel="stylesheet" href="../../static/css/chef/myPage.css">
    <link rel="stylesheet" href="../../static/css/common/style.css">
    <link rel="stylesheet" href="../../static/css/common/aside.css">
    <title>마이페이지</title>
</head>
<body>
    <header data-include="../common/header.html"></header>
    <hr>
    <!-- <main><html:include page="main.html" /></main> -->
    <div id = "container">
        <form class = "chefInfo">
            <div>
                <p><img src="../../static/img/login.jpg" alt="chef-img"></p>
            </div>
            <div id = "chefId">
                <p> 사용자 아이디 </p>
                <p> 내 소개 </p>
            </div>
        </form>
       
        <aside class="login" data-include="../common/infoSide.html"></aside>
    </div>
    <form class="menu">
        <div>
             <button id="menuButton" type="button" onclick="myList()"> 내가 쓴 글 </button> 
        </div><br>
        <div> 
            <button id="menuButton" type="button" onclick="likeReceipe()"> 찜한 레시피 </button>
        </div><br>
        <div>
            <button id="menuButton" type="button" onclick="chat()"> 나의 정보 공유 </button> 
        </div><br>
       <div>
            <button id="menuButton" type="button" onclick="infoEdit()"> 내 정보 수정 </button>
       </div><br>
    </form> 
    <footer data-include="../common/footer.html"></footer>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // header를 포함한 모든 요소에 대해 반복합니다.
    const elementsToInclude = document.querySelectorAll('[data-include]');
    elementsToInclude.forEach(element => {
        const fileName = element.getAttribute('data-include');

        // 파일을 가져와서 해당 요소에 삽입합니다.
        fetch(fileName)
            .then(response => response.text())
            .then(data => {
                element.innerHTML = data;
            });
    });
});

</script>
<script src="../../static/js/chef/myPage.js"></script>
</html>