<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/static/css/common/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/chef/register.css}" type="text/css">>
    <link rel="stylesheet" th:href="@{/static/css/common/footer.css}" type="text/css">
    <script th:src="@{/static/js/chef/register.js}" defer></script>
    <script th:src="@{/static/js/chef/registerfun.js}" defer></script>
</head>
<body>
<div th:replace="~{/common/header :: headerFragment}"></div>
    <hr>
    <aside>
        
        <div class="signup-container">
            <h2>회원가입</h2>
            <form id="register-form-id" th:action="@{/api/all/join}" method="post">
                <div class="form-group">
                    <label for="reg-userName">아이디</label>
                <div class="form-text-button"> 
                    <input type="text" id="reg-userName" name="chefName" placeholder="아이디 입력 (6-20)" required>
                    <button><p>아이디 확인</p></button>
                </div>
                    <p id="userName-error" class="error-message"></p>
                </div>
    
                <div class="form-group">
                    <label for="reg-password">비밀번호</label>
                    <input type="text" id="reg-password" name="password" placeholder="비밀번호 입력 (문자,숫자,특수문자 포함 6-20자리)" required>
                    <p id="password-error" class="error-message"></p>
                </div>
    
                <div class="form-group">
                    <label for="reg-confirmPassword">비밀번호 확인</label>
                    <input type="text" id="reg-confirmPassword" name="confirmPassword" placeholder="비밀번호 재입력" required>
                    <p id="confirm-password-error" class="error-message"></p>
                </div>

                <div class="form-group">
                    <label for="reg-phone">휴대폰 번호</label>
                    <input type="tel" id="reg-phone" name="phone" placeholder="휴대폰 번호 입력 (010-1111-1111)" required>
                    <p id="phone-error" class="error-message"></p>
                </div>
    
                <div class="form-group">
                    <label for="reg-email">이메일</label>
                <div class="form-text-button"> 
                    <input type="email" id="reg-email" name="email" placeholder="이메일 주소" required>
                    <button>인증</button>
                </div>
                <p id="email-error" class="error-message"></p>
                </div>

                <div class="form-group">
                    <label for="reg-authNumber">인증번호</label>
                    <div class="form-text-button"> 
                    <input type="text" id="reg-authNumber" name="authNumber" placeholder="인증번호를 입력해주세요" required>
                        <button><p>확인</p></button>
                </div>
                    <p id="authNumber-error" class="error-message"></p>
                </div>
    
                <button type="submit">가입하기</button>
            </form>
        </div>
    </aside>
<div th:replace="~{/common/footer :: footerFragment}"></div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
    // header를 포함한 모든 요소에 대해 반복합니다.
    const elementsToInclude = document.querySelectorAll('[data-include]');
    elementsToInclude.forEach(element => {
        const fileName = element.getAttribute('data-include');
        
        // 파일을 가져와서 해당 요소에 삽입합니다.
        fetch(fileName)
            .then(response => response.text())
            .then(data => {
                element.innerHTML = data;
            });
    });
});
</script>
</html>