<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/static/css/common/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/common/nav.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/static/css/receipe/detailReceipe.css}" type="text/css">
    <title> 레시피 상세 페이지 </title>
</head>
<body>
    <div th:replace="~{/common/header :: headerFragment}"></div>
    <div th:replace="~{/common/nav :: navFragment}"></div>
    <div id = "container">
        <div class = "returnBtn">
            <label> 이전 목록으로 돌아가기</label>
            <button th:onclick="back()"> ◀ </button>
        </div><br>
        <form class = "receipe">
            <button id="receipe-delete" class="hidden">삭제</button>
            <div class = "mainTop">
                <div class = "thumbnail">
                    <div class = "thumImg">
                        <!--사진 경로 수정 -->
                        <img src="https://3rdprojectbucket.s3.ap-northeast-2.amazonaws.com/initial/receipeInitial.jpg" alt="chef-img" id="receipe-img">
                    </div>
                </div>
                <div class = "title-cate">
                    <div class = "title">
                        <label> 제목 </label><br>
                        <!-- -->
                        <input type="text" name="제목" id="receipe-title" disabled>
                    </div><br>

                    <div class = "writer">
                        <label> 작성자 </label><br>
                        <input type="text" name="작성자" id="receipe-writer" disabled>
                    </div><br>

                    <div class = "cate">
                        <label> 카테고리 </label>
                        <input type="text" name="카테고리" id="receipe-theme" disabled>
                    </div>
                    <div class = "intro">
                        <label> 레시피 소개 </label>
                        <input type="text" name="레시피 소개" id="receipe-intro" disabled>
                    </div>
                    <p class = "like" >
                        <img class="heart" th:src="@{/static/img/like_empty.png}" alt="heart">
                        <img class="heart-liked" th:src="@{/static/img/like_click.png}" alt="heart-liked" hidden>
                    </p>

                </div>

            </div>
            <div id="hr-div">
                <hr>
            </div>

            <div class="form-datail-item-container">
                <div class="form-container-ingredientitems">

                </div>
                <hr>
                <div class="form-container-orderitems">

            </div>
        </form>
    </div>
   <div th:replace="~{/common/footer :: footerFragment}"></div>
</body>
<script th:src="@{/static/js/adapter.js}"></script>
<script th:src="@{/static/js/receipe/detailReceipe.js}"></script>
</html>