#footer-bg {
	background-color: black;
	color: white;
}

#footer_wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
/*footer section을 감싸는 div*/
.footer_section1 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.footer_section1 p {
	margin: 0 10px;
	font-size: 13px;
	user-select: none;
}

/*footer에 들어갈 정보*/
.footer_section2 {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 10px;
}

.footer_section2 p {
	margin: 0 10px;
	font-size: 13px;
	user-select: none;
}