#main-header{
    width: auto;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    color: #79AC78;
    cursor: pointer;
}

#main-header img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    margin: 2rem 0;
}

#main-header p{
    font-size: 5rem;
    margin: 0;
    margin-top: 2rem;
}

#header-dummy{
    width: 5rem;
    height: 5rem;
}