#container {
    height: 50rem;
    margin-left: 9rem;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.aside img {
    width: 90px;
    height: 90px;
}

h2 {
    text-align: left;
}

/*.chatList {
    border : solid 3px #e3e5e8;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 2rem;
    width: 500px;
    background-color: #79AC78;
    text-align: left;
    color: black;
    font-weight: bold;

}*/

.chatList div {
    background-color:#ddf7df;
    color : black;
    border: 0;
    width: 500px;
    height: 110px;
    margin-bottom: 10px;
}

.chatList div a {
    margin-top: 1px;
    font-size: 20px;
    text-align: right;
}

.chatList div a span{
    display: flex;
    justify-content: flex-end;
}

#my_modal {
    display: none;
    width: 300px;
    padding: 20px 60px;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 3px;
}

.chatName input{
    margin-left: 3rem;
}
.anotherId input {
    margin-left: 1.8rem;
}

#my_modal .modal_close_btn {
    position: absolute;
    right: 10px;
}

.formTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#popup_open_btn {
    height: 2.5rem;
    border: 0;
}

/*추가*/
.chat-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee; /* 테두리 추가 */
}

.chat-room a {
    text-decoration: none;
    color: black; /* 색상 변경 가능 */
    flex-grow: 1;
}

.arrow {
    margin-left: 10px;
}

